<%= form_with(model: candy, local: true) do |form| %>
  <% if candy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candy.errors.count, "error") %> prohibited this candy from being saved:</h2>

      <ul>
        <% candy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= collection_check_boxes(:candy, :kid_ids, Kid.all, :id,  :firstname_lastname) %>                            
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
